asgiref==3.11.1
astroid==4.0.4
dill==0.4.1
Django==5.2.13
django-cors-headers==4.9.0
djangorestframework==3.17.1
isort==8.0.1
mccabe==0.7.0
platformdirs==4.9.6
psycopg2-binary==2.9.12
pylint==4.0.5
pylint-django==2.7.0
pylint-plugin-utils==0.9.0
python-dotenv==1.2.2
sqlparse==0.5.5
tomlkit==0.14.0
